.wrap {
  background-color: #fff;
  border-radius: var(--outer-radius);
  padding: var(--indent-24-16);
  width: 75%;
}

.container {
  align-items: center;
  display: flex;
  gap: var(--indent-20-16);
}